body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #ff3b3f;
}

hr.light {
  border-color: #fff;
}

a {
  color: #ff3b3f;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #ff3a3f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #ff3b3f;
}

.bg-dark {
  background-color: #a9a9a9;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img {
  max-width: 100%;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #ff3b3f;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ff3a3f;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #ff3b3f;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #ff3b3f;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #ff3b3f;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #ff3a3f;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #ff3b3f;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link.active,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #ff3b3f;
    background-color: transparent;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link.active:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
    background-color: transparent;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #a9a9a9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    min-height: 450px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

#introduction {
  background-color: #efefef;
  padding: 8rem 0;
}

.item {
  padding: 3rem 0;
}

.right-align {
  justify-content: flex-start;
}

@media (min-width: 992px) {
  .right-align {
    justify-content: flex-end;
  }
}

#projects {
  background-color: #000;
}

#projects-text {
  padding: 0 3em;
  color: #fff;
}

#projects-right-align {
  float: right;
}

#projects-image {
  align-items: center;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 992px) {
  #projects-image {
    display: none;
  }
}

#projects-p {
  margin: 16px;
}

#projects-image-title {
  align-items: center;
  display: none;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 300px) {
  #projects-image-title {
    display: block;
  }
}

@media (min-width: 768px) {
  #projects-image-title {
    width: 80%;
  }
}

@media (min-width: 992px) {
  #projects-image-title {
    width: 120%;
    margin-top: 0em;
    margin-bottom: 0em;
  }
}

#projects-image-alt-title {
  display: inline;
}

@media (min-width: 300px) {
  #projects-image-alt-title {
    display: none;
  }
}

@media (min-width: 768px) {
  #projects-image-alt-title {
    display: none;
  }
}

#projects-row {
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#projects-row-backdrop-1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: none;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 992px) {
  #projects-row-backdrop-1 {
    background-image: url("../img/fwgameplay.jpg");
    padding-top: 15vw;
    padding-bottom: 15vw;
  }
}

#projects-row-backdrop-2 {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: none;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 992px) {
  #projects-row-backdrop-2 {
    background-image: url("../img/fsgameplay.jpg");
    padding-top: 15vw;
    padding-bottom: 15vw;
  }
}

#contacts {
  padding: 1em 0;
  background-color: #efefef;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

#contacts p {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}

#contacts a {
  background-color: transparent;
  color: #000;
  border: none;
  transition: 0.3s;
  font-size: 25px;
}

#contacts a:hover {
  background-color: #adb5bd;
}
