doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title Homepage of Wilson Chen

        // Bootstrap css imports
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
        
        //Custom css imports
        link(href="https://use.fontawesome.com/releases/v5.5.0/css/all.css",rel="stylesheet", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        link(href="css/style.css", rel="stylesheet")
    body#page-top
        nav.navbar.navbar-expand-lg.navbar-light.fixed-top#mainNav
            .container
                a(href="#page-top").navbar-brand.js-scroll-trigger Wilson Chen
                button(type="button", data-toggle="collapse", data-target="#navbarResponsive").navbar-toggler.navbar-toggler-right
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse#navbarResponsive
                    ui.navbar-nav.ml-auto
                        li.nav-item: a(href="#introduction").nav-link.js-scroll-trigger Qualifications
                        li.nav-item: a(href="#projects").nav-link.js-scroll-trigger Projects
                        li.nav-item: a(href="#contacts").nav-link.js-scroll-trigger Contact
        header.masthead.text-center.text-white.d-flex
            .container.my-auto
                .row
                    .col-lg-10.mx-auto
                        h1.text-uppercase
                            strong Wilson Chen
                .col-lg-8.mx-auto
                    p.text-faded.mb-5 Energetic software engineer with a passion for games development
        section#introduction
            .container
                .col-lg-12.text-center
                    h2 Qualifications
                    hr
            .container
                .row
                    .col-lg-4.col-md-6.text-center
                        .service-box.mt-5.mx-auto
                            i.fas.fa-code.fa-4x.mb-3
                            h3.mb-3 Knowledgeable coder
                            p.text-muted.mb-0 3 years professional expertise working with C#, plus experience in Java, C++ & Web Technologies
                    .col-lg-4.col-md-6.text-center
                        .service-box.mt-5.mx-auto
                            i.fas.fa-handshake.fa-4x.mb-3
                            h3.mb-3 Team player
                            p.text-muted.mb-0 An active listener, able to clearly explain ideas and reasoning to both team members and stakeholders alike
                    .col-lg-3.text-center
                        .service-box.mt-5.mx-auto
                            i.fas.fa-fire.fa-4x.mb-3
                            h3.mb-3 Passion driven
                            p.text-muted.mb-0 Always looking for new challenges, especially within the field of gaming-related technologies
        section#projects
            .container-fluid.no-gutters
                .row.item#projects-row-backdrop-1
                    .col-lg-6.order-lg-1#projects-text
                        img(src="img/fwtitlescreen.png").img-fluid#projects-image-title
                        h1#projects-image-alt-title Fragmented World
                        p#projects-p Explore a world fractured by unknown forces, as you attempt to collect the lost fragments required for restoring what was once whole. Created using Unity3D as a University project, I was responsible for the game direction and scripting of graphical elements and game mechanics.
                    .col-lg-6.order-lg-2#projects-image
                        img(src="img/fwgameplayalt.png")
                .row.item.right-align#projects-row-backdrop-2
                    .col-lg-6.order-lg-1#projects-text
                        img(src="img/fstitlescreen.png").img-fluid#projects-image-title
                        h1#projects-image-alt-title Frontier Survival
                        p#projects-p Reclaim lost satellites scattered across the planetary system while avoiding spaceships and UFOs looking to hunt you down. Written in MonoGame, I partook in the project as game designer and scripting of the initial prototype.
                    .col-lg-6.order-lg-2#projects-image
                        img(src="img/fsgameplayalt.jpg")
        section#contacts
            .container-fluid
                .row
                    .col-lg-12
                            a(href="https://www.linkedin.com/in/wilson-chen-4a5804107").btn.btn-sm
                                i.fab.fa-linkedin-in
                            a(href="mailto:wilson.jobs.contact@gmail.com").btn.btn-sm
                                i.fas.fa-envelope
                            a(href="https://github.com/WilsonChenDevelopment").btn.btn-sm
                                i.fab.fa-github
                            hr
                            p
                                b Copyright © #{currentyear} Wilson Chen
                    
        //JQuery imports
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
        
        //Bootstrap js imports
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
        
        //Custom js import
        script(src="js/script.js")